name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  DEBUG: "1"
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v4
    - name: install toml-test
      run: (cd ./test/stdtest && bash SETUP.sh)
    - name: make clean all
      run: make clean all
    - name: make test
      run: make test
    - name: make install
      run: make install prefix=./tmp
